#models {
    align-content: center;
}
#model-one {
    position: absolute;
    top:20%;
    left:12.5%
}
#model-two {
    position: absolute;
    top: 20%;
    left: 19.5%;
}
#model-three {
    position: absolute;
    top: 19%;
    left: 28.25%;
}
#model-four {
    position: absolute;
    top: 19.75%;
    left: 34.25%;
}
#model-five {
    position: absolute;
    top: 17.5%;
    left: 41%;
}
#model-six {
    position: absolute;
    top: 20.5%;
    left: 48.25%;
    z-index: -1;
}
#model-seven {
    position: absolute;
    top: 19%;
    left: 54.25%;
    z-index: -2;
}
#model-eight {
    position: absolute;
    top: 22%;
    left: 62.5%;
    z-index: -3;
}
#model-nine {
    position: absolute;
    top: 18.85%;
    left: 69.85%;
    z-index: -4;
}